@font-face {
  src: url("../fonts/Graphik-Regular.ttf");
  font-family: 'GraphikRegular'; }
@font-face {
  src: url("../fonts/Graphik-Medium.ttf");
  font-family: 'GraphikMedium'; }
@font-face {
  src: url("../fonts/FreightText-Book.ttf");
  font-family: 'FreightText'; }
* {
  margin: 0px;
  padding: 0px; }

.gradient_text {
  /*
  
  background: linear-gradient(to right, $primary_color 50%, $accent_color 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  */ }

a {
  padding-bottom: 4px; }

.link_bound {
  display: inline-block;
  transition: all .16s ease-out 0s;
  -webkit-transition: all .16s ease-out 0s;
  -moz-transition: all .16s ease-out 0s;
  -ms-transition: all .16s ease-out 0s;
  -o-transition: all .16s ease-out 0s; }

.link_bound:hover {
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px); }

html, body {
  height: 100%;
  width: 100%;
  overflow: auto; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.clear {
  clear: both; }

.primary_color {
  color: #004FE5; }

.litewallet_color {
  color: #3600B3; }

a.litewallet_color {
  text-decoration: none;
  padding-bottom: 4px;
  transition: all .15s ease 0s;
  -webkit-transition: all .15s ease 0s;
  -moz-transition: all .15s ease 0s;
  -ms-transition: all .15s ease 0s;
  -o-transition: all .15s ease 0s; }

a.litewallet_color:hover {
  border-bottom: 2px solid #004FE5; }

#about_container ol, #about_container ul {
  list-style-position: inside; }

.intro_container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%; }

#intro_svg {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
  display: block; }

#intro_svg g rect {
  opacity: 0; }

.intro_title {
  font-family: 'GraphikMedium';
  font-size: 46.88px;
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  text-align: center;
  margin-top: 20%;
  position: relative;
  z-index: 300;
  height: 52px;
  line-height: 52px;
  opacity: 1;
  transition: all .24s ease-in 0s;
  -webkit-transition: all .24s ease-in 0s;
  -moz-transition: all .24s ease-in 0s;
  -ms-transition: all .24s ease-in 0s;
  -o-transition: all .24s ease-in 0s; }

.intro_tagline {
  font-family: 'GraphikRegular';
  font-size: 27px;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  margin-top: 1.3%;
  position: relative;
  z-index: 300;
  height: 48px;
  line-height: 48px;
  opacity: 1;
  transition: all .24s ease 0s .45s;
  -webkit-transition: all .24s ease 0s .45s;
  -moz-transition: all .24s ease 0s .45s;
  -ms-transition: all .24s ease 0s .45s;
  -o-transition: all .24s ease 0s .45s; }

.intro_title .anim_container .anim_item.hide {
  opacity: 0; }

.intro_tagline .anim_container .anim_item.hide {
  opacity: 0; }

.intro_container.hide {
  display: none; }

.anim_container {
  display: inline-block;
  overflow: hidden; }

.anim_item {
  display: inline-block;
  transition: all 1300ms cubic-bezier(0.31, 1.02, 0.84, 0.99) 0s;
  -webkit-transition: all 1300ms cubic-bezier(0.31, 1.02, 0.84, 0.99) 0s;
  -moz-transition: all 1300s cubic-bezier(0.31, 1.02, 0.84, 0.99) 0s;
  -ms-transition: all 1300ms cubic-bezier(0.31, 1.02, 0.84, 0.99) 0s;
  -o-transition: all 0.55s cubic-bezier(0.31, 1.02, 0.84, 0.99) 0s; }

.anim_item.from_up {
  opacity: 1;
  transform: translateY(-60px);
  -webkit-transform: translateY(-70px);
  -moz-transform: translateY(-70px);
  -ms-transform: translateY(-70px);
  -o-transform: translateY(-70px); }

.anim_item.from_below {
  opacity: 0;
  transform: translateY(140px) rotate(30deg);
  -webkit-transform: translateY(140px) rotate(30deg);
  -moz-transform: translateY(140px) rotate(30deg);
  -ms-transform: translateY(140px) rotate(30deg);
  -o-transform: translateY(140px) rotate(30deg); }

.anim_item.from_below.no_rotate {
  opacity: 0;
  transform: translateY(140px) rotate(0deg);
  -webkit-transform: translateY(140px) rotate(0deg);
  -moz-transform: translateY(140px) rotate(0deg);
  -ms-transform: translateY(140px) rotate(0deg);
  -o-transform: translateY(140px) rotate(0deg); }

.anim_item.from_up.visible, .anim_item.from_below.visible {
  opacity: 1;
  transform: translateY(0px) rotate(0deg);
  -webkit-transform: translateY(0px) rotate(0deg);
  -moz-transform: translateY(0px) rotate(0deg);
  -ms-transform: translateY(0px) rotate(0deg);
  -o-transform: translateY(0px) rotate(0deg); }

.anim_item.from_below.delay_2 {
  transition-delay: 100ms;
  -webkit-transition-delay: .15s;
  -moz-transition-delay: .15s;
  -ms-transition-delay: .15s;
  -o-transition-delay: .15s; }

.anim_item.from_below.delay_3 {
  transition-delay: 200ms;
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -ms-transition-delay: .3s;
  -o-transition-delay: .3s; }

.anim_item.from_below.delay_4 {
  transition-delay: 300ms;
  -webkit-transition-delay: .45s;
  -moz-transition-delay: .45s;
  -ms-transition-delay: .45s;
  -o-transition-delay: .45s; }

.anim_container.second_line .anim_item {
  transition-delay: 400ms;
  -webkit-transition-delay: .6s;
  -moz-transition-delay: .6s;
  -ms-transition-delay: .6s;
  -o-transition-delay: .6s; }

.anim_container.second_line .anim_item.delay_2 {
  transition-delay: 500ms;
  -webkit-transition-delay: .75s;
  -moz-transition-delay: .75s;
  -ms-transition-delay: .75s;
  -o-transition-delay: .75s; }

.anim_container.second_line .anim_item.delay_3 {
  transition-delay: 600ms;
  -webkit-transition-delay: .9s;
  -moz-transition-delay: .9s;
  -ms-transition-delay: .9s;
  -o-transition-delay: .9s; }

.text_desc_container .anim_container .anim_item {
  transition-delay: 700ms;
  -webkit-transition-delay: 1.05s;
  -moz-transition-delay: 1.05s;
  -ms-transition-delay: 1.05s;
  -o-transition-delay: 1.05s; }

.text_desc_container .anim_container .anim_item.delay_2 {
  transition-delay: 800ms;
  -webkit-transition-delay: 1.2s;
  -moz-transition-delay: 1.2s;
  -ms-transition-delay: 1.2s;
  -o-transition-delay: 1.2s; }

.text_desc_container .anim_container.second_line .anim_item {
  transition-delay: 900ms;
  -webkit-transition-delay: 1.35s;
  -moz-transition-delay: 1.35s;
  -ms-transition-delay: 1.35s;
  -o-transition-delay: 1.35s; }

.text_desc_container .anim_container.second_line .anim_item.delay_2 {
  transition-delay: 1000ms;
  -webkit-transition-delay: 1.5s;
  -moz-transition-delay: 1.5s;
  -ms-transition-delay: 1.5s;
  -o-transition-delay: 1.5s; }

.text_desc_container .anim_container.third_line .anim_item {
  transition-delay: 1.65s;
  -webkit-transition-delay: 1.65s;
  -moz-transition-delay: 1.65s;
  -ms-transition-delay: 1.65s;
  -o-transition-delay: 1.65s; }

.past_experiences_container .anim_container .anim_item {
  transition-delay: 1.8s;
  -webkit-transition-delay: 1.8s;
  -moz-transition-delay: 1.8s;
  -ms-transition-delay: 1.8s;
  -o-transition-delay: 1.8s; }

.past_experiences_container .anim_container .anim_item.delay_2 {
  transition-delay: 1.95s;
  -webkit-transition-delay: 1.95s;
  -moz-transition-delay: 1.95s;
  -ms-transition-delay: 1.95s;
  -o-transition-delay: 1.95s; }

.anim_container.third_line {
  transition-delay: .3s;
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -ms-transition-delay: .3s;
  -o-transition-delay: .3s; }

.anim_item.from_below.hide {
  opacity: 0;
  transition: all .45s ease 0s;
  -webkit-transition: all .45s ease 0s;
  -moz-transition: all .45s ease 0s;
  -ms-transition: all .45s ease 0s;
  -o-transition: all .45s ease 0s; }

.anim_item.from_below.go_up {
  opacity: 0;
  transform: translateY(-140px);
  -webkit-transform: translateY(-140px);
  -moz-transform: translateY(-140px);
  -ms-transform: translateY(-140px);
  -o-transform: translateY(-140px);
  transition: all 1900ms cubic-bezier(0.31, 1.02, 0.84, 0.99) 0s;
  -webkit-transition: all 1900ms cubic-bezier(0.31, 1.02, 0.84, 0.99) 0s;
  -moz-transition: all 1900ms cubic-bezier(0.31, 1.02, 0.84, 0.99) 0s;
  -ms-transition: all 1900ms cubic-bezier(0.31, 1.02, 0.84, 0.99) 0s;
  -o-transition: all 1900ms cubic-bezier(0.31, 1.02, 0.84, 0.99) 0s; }

.anim_item.go_below {
  transform: translateY(80px);
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  -o-transform: translateY(80px); }

.anim_item.visible {
  transition: all 0.65s cubic-bezier(0.31, 1.02, 0.84, 0.99) 0s;
  -webkit-transition: all 0.65s cubic-bezier(0.31, 1.02, 0.84, 0.99) 0s;
  -moz-transition: all 0.45s cubic-bezier(0.31, 1.02, 0.84, 0.99) 0s;
  -ms-transition: all 0.45s cubic-bezier(0.31, 1.02, 0.84, 0.99) 0s;
  -o-transition: all 0.45s cubic-bezier(0.31, 1.02, 0.84, 0.99) 0s; }

.text_desc_container .anim_container .anim_item.from_below, .past_experiences .anim_container .anim_item.from_below {
  opacity: 0;
  transform: translateY(140px);
  -webkit-transform: translateY(140px);
  -moz-transform: translateY(140px);
  -ms-transform: translateY(140px);
  -o-transform: translateY(140px); }

.text_desc_container .anim_container .anim_item.from_below.visible, .past_experiences .anim_container .anim_item.from_below.visible, .text_title_container .anim_container .anim_item.from_below.visible, .top_nav_container .anim_container .anim_item.from_below.visible {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px); }

.intro_title .anim_container .anim_item.from_below.visible, .intro_tagline .anim_container .anim_item.from_below.visible {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px); }

.intro_title .anim_container .anim_item.from_below.visible.hide, .intro_tagline .anim_container .anim_item.from_below.visible.hide {
  opacity: 0; }

.intro_container .anim_item {
  display: inline-block;
  opacity: 1; }

.intro_tagline .anim_item {
  transition-delay: .12s;
  -webkit-transition-delay: .12s;
  -moz-transition-delay: .12s;
  -ms-transition-delay: .12s;
  -o-transition-delay: .12s; }

.text_title_container .anim_container {
  height: 64px;
  overflow: hidden; }

.text_desc_container .anim_container:nth-child(1) {
  height: 120px; }

.text_desc_container .anim_container:nth-child(2) {
  margin-top: -16px;
  height: 60px; }

text_title_container
.text_title_container .anim_container .anim_item {
  line-height: 64px; }

.text_desc_container .anim_container .anim_item {
  line-height: 60px; }

.text_desc_container .anim_container:nth-child(3) {
  margin-top: -16px; }

.container {
  min-height: 100%;
  width: 100%; }

.top_container {
  height: 100%;
  width: 100%;
  position: relative; }

.top_nav_container {
  width: 100%;
  min-height: 64px;
  text-align: center;
  position: fixed;
  padding-top: 1.5%;
  top: 0%;
  left: 0%;
  background: transparent;
  z-index: 100; }

.top_nav_container ul {
  display: inline-block; }

.top_nav_container ul li {
  float: left;
  font-family: 'GraphikMedium';
  font-size: 17.8px;
  margin-left: 72px;
  list-style-type: none;
  padding-top: 16px;
  cursor: pointer;
  padding-bottom: 4px;
  transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -ms-transition: all .1s ease-in;
  -o-transition: all .1s ease-in; }

.top_nav_container ul li.selected {
  border-bottom: 2px solid #004FE5; }

.top_nav_container ul li.selected a {
  color: #004FE5; }

.top_nav_container ul li, .top_nav_container ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87); }

.top_nav_container ul li.not_live a {
  color: rgba(0, 0, 0, 0.32); }

#process_nav a {
  color: rgba(0, 0, 0, 0.32); }

.top_nav_container.active {
  background: #fff;
  border-bottom: 2px solid #e6e6e6; }

.top_container ul li:nth-child(1) {
  margin-left: 0px; }

.top_nav_container ul li:nth-child(3) {
  margin-top: -20px; }

.top_nav_container ul li:hover {
  color: process_nav #004FE5;
  border-bottom: 2px solid #004FE5; }

.top_nav_container ul li:nth-child(3):hover {
  border-bottom: none; }

.top_nav_container ul li:hover a {
  color: #004FE5; }

#process_nav:hover {
  border-bottom: 2px solid #e6e6e6; }

.top_content_container {
  position: relative;
  width: 100%; }

.top_pattern_container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -10; }

.pattern_left {
  position: absolute;
  top: 0%;
  left: 0%;
  padding-top: 1%; }

.pattern_right {
  position: absolute;
  top: -14%;
  right: -18%;
  padding-top: 0%; }

.pattern_right_middle {
  position: absolute;
  top: 26%;
  right: -12%; }

.pattern_right_center {
  position: absolute;
  top: 22%;
  right: -21%; }

.pattern_right_bottom {
  position: absolute;
  top: 51.5%;
  right: -19%; }

.top_text_container {
  padding-top: 12.6%;
  padding-left: 16.2%; }

.text_title_container {
  font-family: 'GraphikRegular';
  font-size: 32px;
  color: rgba(0, 0, 0, 0.87); }

.text_title_container:nth-child(3) {
  margin-top: 0px; }

.text_desc_container {
  font-family: 'GraphikRegular';
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 40px;
  width: 88%;
  margin-top: 0%;
  margin-top: -8px; }

.text_desc_container .anim_container .anim_item {
  line-height: 52px; }

.text_desc_container .anim_container:nth-child(2) {
  margin-top: -28px; }

.feature_container {
  margin-top: .9%;
  margin-top: 0%;
  width: 100%; }

.feature {
  display: inline-block; }

.feature_text {
  font-family: 'GraphikMedium';
  padding: 16px;
  color: white;
  font-size: 24px; }

.feature_text_accent {
  font-family: 'GraphikMedium';
  padding: 0px;
  font-size: 24px;
  color: #00B019; }

.top_links_container {
  margin-top: 32px; }

.link_container {
  display: inline-block;
  font-family: 'GraphikRegular';
  font-size: 15.36px; }

.link_container a {
  padding-bottom: 4px;
  text-decoration: none; }

.email_link a {
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 2px solid rgba(0, 0, 0, 0.87); }

.linkedin_link a {
  color: #4078C0;
  border-bottom: 2px solid #4078C0; }

.behance_link a {
  color: #1769FF;
  border-bottom: 2px solid #1769FF; }

.medium_link a {
  color: #00AC6C;
  border-bottom: 2px solid #00AC6C; }

.past_experiences_container .past_body:hover {
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px); }

.seperator {
  height: 6px;
  width: 6px;
  margin: 0px 8px;
  display: inline-block;
  border-radius: 50%;
  background: #e6e6e6;
  margin-top: -24px; }

.works_container {
  padding-top: 5%;
  padding-bottom: 2.5%; }

.works_title_text {
  font-family: 'GraphikRegular';
  font-size: 35px;
  color: rgba(0, 0, 0, 0.87);
  width: 92%;
  padding-left: 8%; }

.title_line_container {
  width: 100%;
  padding-left: 8%;
  margin-top: 16px; }

.works_title_line {
  height: 4px;
  width: 0px;
  background: #004FE5;
  display: inline-block;
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
  -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
  -moz-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
  -ms-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
  -o-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s; }

.title_line_container.visible .works_title_line {
  width: 64px; }

.wworks_title_textorks_content_container {
  width: 100%;
  padding: 64px 0px; }

.works_content_container {
  margin-top: 64px; }

.works_single_container .works_cover_container, .works_single_container .works_text_container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%; }

.works_single_container .works_cover_container {
  height: 628px;
  width: 100%;
  top: -70px;
  left: 0px;
  transition: all .42s ease-out 0s;
  -webkit-transition: all .42s ease-out 0s;
  -moz-transition: all .42s ease-out 0s;
  -ms-transition: all .42s ease-out 0s;
  -o-transition: all .42s ease-out 0s; }

.works_single_container .works_cover_container {
  background-size: cover; }

.works_single_container .works_text_container {
  background: rgba(0, 0, 0, 0.44);
  overflow: hidden;
  width: 94%;
  padding-left: 6%; }

.works_text_container .text_1 {
  font-family: 'GraphikMedium';
  font-size: 58.59px;
  color: white;
  margin-top: 18%;
  display: inline-block; }

.works_text_container .text_2 {
  margin-top: 3%;
  font-family: 'GraphikRegular';
  font-size: 27px;
  color: white; }

.works_new_tab_container {
  display: inline-block;
  min-height: 40px;
  padding-top: -8px; }

.new_tab_icon_container {
  padding-left: 24px;
  padding-top: -16px; }

.new_tab_icon {
  display: inline-block; }

.new_tab_icon img {
  height: 24px;
  width: 24px; }

.new_tab_text_container {
  font-family: 'GraphikRegular';
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
  padding-left: 16px;
  display: inline-block;
  opacity: 0;
  transform: translateY(14px);
  -webkit-transform: translateY(14px);
  transition: all .17s ease 0s;
  -webkit-transition: all .17s ease 0s; }

.new_tab_icon_container:hover .new_tab_text_container {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px); }

.works_new_tab_container a {
  text-decoration: none;
  color: white; }

.tab_container {
  position: absolute;
  top: 7%;
  right: 4%;
  z-index: 20; }

.tab_container a {
  text-decoration: none;
  color: white; }

.tab_text_container {
  display: inline-block;
  font-family: 'GraphikRegular';
  font-size: 24px;
  color: white;
  margin-left: 16px; }

.tab_icon {
  display: inline-block;
  position: relative;
  height: 24px;
  width: 24px; }

.tab_icon img {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 21px;
  width: 21px; }

#litewallet_work_container .works_cover_container {
  background-image: url("../images/Litewallet Mockup.jpg"); }

#murals_work_container .works_cover_container {
  background-image: url("../images/murals_cover.jpg"); }

#goqii_work_container .works_cover_container {
  background-image: url("../images/goqii_background.jpg"); }

#pvr_cinemas_work_container .works_cover_container {
  background-image: url("../images/PVR Design Guidelines Cover.jpg");
  background-position: 0px 0px; }

#studycopter_work_container .works_cover_container {
  background-image: url("../images/studycopter_cover.png"); }

#crosschecks_work_container .works_cover_container {
  background-image: url("../images/Crosschecks Cover.jpg"); }

#pvr_cinemas_app_work_container .works_cover_container {
  background-image: url("../images/PVR Cinemas Cover.jpg");
  background-position: 0px -90px; }

#feetapart_work_container .works_cover_container {
  background-image: url("../images/Feetapart Cover.png");
  background-position: 0px 0px; }

.works_bottom_container {
  margin-top: 64px;
  width: 72%;
  padding-left: 12%; }

.works_bottom_text {
  font-family: 'GraphikRegular';
  font-size: 27px;
  color: rgba(0, 0, 0, 0.87);
  line-height: 56px; }

.works_bottom_text a {
  padding: 0px 8px; }

.works_title_desc {
  font-family: 'GraphikRegular';
  font-size: 27px;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 16px;
  margin-left: 8%; }

.footer {
  position: relative;
  min-height: 216px;
  width: 100%;
  padding: 16px 0px 40px 0px;
  border-top: 2px solid #eee;
  overflow-x: hidden;
  margin-top: 24px; }

.footer_text_container {
  margin-top: 16px; }

.footer_title {
  font-family: 'GraphikRegular';
  font-size: 35px;
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  line-height: 60px;
  display: inline-block;
  margin-left: 8%; }

.footer_title_2 {
  font-family: 'GraphikRegular';
  font-size: 27px;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 16px;
  margin-left: 8%; }

.footer_desc {
  font-family: 'GraphikRegular';
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 32px;
  width: 100%;
  margin-left: 8%; }

.footer_icons_container {
  margin-top: 88px;
  min-height: 48px;
  width: 100%;
  margin-left: 8%; }

.footer_social_icon {
  position: relative;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-left: 48px;
  background: #121212;
  display: inline-block; }

.footer_social_icon a {
  position: absolute;
  top: 0px;
  shakeleft: 0px;
  z-index: 100;
  text-decoration: none;
  height: 56px;
  width: 56px; }

.footer_social_icon a img {
  width: 20px;
  padding-top: 14px;
  margin-left: -7px; }

.footer_social_icon:nth-child(1) {
  margin-left: 0px; }

#behance_social_icon {
  background: #1769FF; }

#linkedin_social_icon {
  background: #4078C0; }

#github_social_icon {
  background: #0077B5; }

#medium_social_icon {
  background: #00AB6C; }

#behance_social_icon a img {
  padding-top: 18px; }

#medium_social_icon a img {
  padding-top: 16px; }

.footer_pattern_container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: -10; }

.footer_pattern_left {
  position: absolute;
  top: 13%;
  left: 0%;
  width: 240px; }

.footer_pattern_right {
  position: absolute;
  top: 6%;
  right: 0%; }

svg #Group-16 rect {
  transition: all 2.4s ease 0s, width 1.8s ease;
  -webkit-transition: all 2.4s ease 0s, width 1.8s ease;
  -ms-transition: all 2.4s ease 0s;
  -moz-transition: all 2.4s ease 0s;
  -o-transition: all 2.4s ease 0s; }

svg #Group-16 rect[fill="#FFFFFF"] {
  transition: all 2.4s ease 0s, width 1.2s ease;
  -webkit-transition: all 2.4s ease 0s, width 1.2s ease;
  -ms-transition: all 1.2s ease 0s;
  -moz-transition: all 1.2s ease 0s;
  -o-transition: all 2.4s ease 0s; }

svg #Group-16 rect.animated {
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px); }

svg.no_width g#Experiments g#Homepage g.animated rect {
  opacity: 0;
  width: 0px;
  transform: translateX(-200px);
  -webkit-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px); }

.pattern_left svg.no_width g#Experiments g#Homepage g#Group-22 g g polygon {
  transform: translateX(-190px) translateY(-190px);
  -webkit-transform: translateX(-190px) translateY(-190px); }

svg.no_width g#Experiments g#Homepage rect {
  opacity: 1;
  transition: all 0.75s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -webkit-transition: all 0.75s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -moz-transition: all 0.75s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -ms-transition: all 0.75s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -o-transition: all 0.75s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(3) {
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(4) {
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(5) {
  transition-delay: 0.26s;
  -webkit-transition-delay: 0.26s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(6) {
  transition-delay: 0.32s;
  -webkit-transition-delay: 0.32s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(7) {
  transition-delay: .4s;
  -webkit-transition-delay: .4s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(8) {
  transition-delay: 0.26s;
  -webkit-transition-delay: 0.26s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(9) {
  transition-delay: .6s;
  -webkit-transition-delay: .6s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(10) {
  transition-delay: .4s;
  -webkit-transition-delay: .4s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(11) {
  transition-delay: 0s;
  -webkit-transition-delay: 0s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(12) {
  transition-delay: .4s;
  -webkit-transition-delay: .4s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(13) {
  transition-delay: .6s;
  -webkit-transition-delay: .6s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(14) {
  transition-delay: 0s;
  -webkit-transition-delay: 0s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(15) {
  transition-delay: .6s;
  -webkit-transition-delay: .6s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(16) {
  transition-delay: .6s;
  -webkit-transition-delay: .6s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(17) {
  transition-delay: 0s;
  -webkit-transition-delay: 0s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(18) {
  transition-delay: .6s;
  -webkit-transition-delay: .6s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(19) {
  transition-delay: 0s;
  -webkit-transition-delay: 0s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(20) {
  transition-delay: 0.32s;
  -webkit-transition-delay: 0.32s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(21) {
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(22) {
  transition-delay: 0s;
  -webkit-transition-delay: 0s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(23) {
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(24) {
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(25) {
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(26) {
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(27) {
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(28) {
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s; }

svg.no_width g#Experiments g#Homepage rect:nth-child(29) {
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s; }

#about_container .top_nav_container {
  padding-top: 1.5%; }

.about_content_container {
  margin-top: 112px;
  width: 100%;
  min-height: 120px; }

.top_content_left {
  float: left;
  width: 54%;
  min-height: 120px; }

.top_content_right {
  float: left;
  width: 46%;
  min-height: 120px;
  padding-top: 1%; }

.right_headline {
  font-family: 'GraphikRegular';
  font-size: 35px;
  line-height: 64px;
  color: rgba(0, 0, 0, 0.87);
  width: 84%;
  padding-top: -6%; }

.content_container_para {
  font-family: 'Charter';
  font-size: 24px;
  line-height: 44px;
  width: 76%;
  padding: 0px 12%; }

#about_container.dark_mode {
  background: #000000; }

.container#about_container {
  min-height: 100%; }

.container#about_container {
  min-height: 100%;
  height: auto; }

#about_container .about_content_container {
  width: 90%;
  padding: 40px 5% 16px 5%; }

.about_section {
  margin: 24px 0px 16px 0px;
  width: 76%;
  padding: 8px 12%; }

.about_title {
  font-family: 'GraphikMedium';
  font-size: 27px;
  color: rgba(0, 0, 0, 0.87); }

.about_section .about_body {
  font-family: 'FreightText';
  font-size: 24px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.87);
  padding-top: 24px; }

.about_section .about_body.no_padding {
  padding-top: 0px; }

.content_para_smaller {
  font-family: 'GraphikRegular';
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  line-height: 44px;
  padding: 24px 0px 16px 0px;
  width: 100%; }

.prominent_text {
  color: #00B019; }

#about_container .list_title {
  color: rgba(0, 0, 0, 0.87);
  font-family: 'GraphikMedium'; }

#about_container .list_caption {
  color: rgba(0, 0, 0, 0.5); }

#about_container .list_desc {
  color: rgba(0, 0, 0, 0.87); }

#about_container.dark_mode .top_nav_container {
  background: #000000; }

#about_container.dark_mode .top_nav_container.active {
  border-bottom: 2px solid #333; }

#about_container .top_nav_container.active {
  background: #fff; }

#about_container.dark_mode .top_nav_container ul li a {
  color: white; }

After#about_container.dark_mode .right_headline {
  color: white;
  width: 100%; }

#about_container.dark_mode .content_para_smaller {
  color: rgba(255, 255, 255, 0.9);
  width: 100%; }

#about_container .top_content_image {
  text-align: center;
  width: 100%;
  margin-top: 2%; }

#about_container.dark_mode .about_title {
  color: white; }

#about_container.dark_mode .about_body {
  color: rgba(255, 255, 255, 0.9); }

#about_container .about_title {
  padding-top: 40px; }

#about_container.dark_mode .quotes_container .quote_text {
  color: rgba(255, 255, 255, 0.9); }

#about_container.dark_mode .quotes_container .quote_author {
  color: rgba(255, 255, 255, 0.9); }

#about_container.dark_mode .hori_title {
  color: rgba(255, 255, 255, 0.9); }

#about_container .footer {
  margin-top: 64px; }

.list_hori {
  width: 100%;
  min-height: 120px;
  margin-top: 8px; }

.hori_list_item {
  float: left;
  width: 44%;
  margin-left: 4%;
  margin-top: 40px; }

.hori_list_item:nth-child(1), .hori_list_item:nth-child(3), .hori_list_item:nth-child(5) {
  margin-left: 0%; }

.hori_icon_container {
  text-align: center;
  width: 100%; }

.hori_icon_container img {
  height: 48px;
  width: 48px; }

.hori_title {
  font-family: 'GraphikMedium';
  font-size: 24px;
  color: white;
  padding: 16px 0px;
  text-align: center; }

.hori_text {
  font-family: 'GraphikRegular';
  font-size: 24px;
  color: rgba(255, 255, 255, 0.9); }

#about_container.dark_mode .list_title {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'GraphikMedium'; }

.works_heading_desc {
  font-family: 'GraphikRegular';
  font-size: 27px;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 16px;
  margin-left: 8%;
  width: 100%; }

.works_single_container {
  position: relative;
  min-height: 460px;
  width: 100%;
  background: #ffffff;
  margin: 104px 8%;
  margin-top: 180px;
  overflow: visible;
  opacity: 0;
  transform: translateY(140px);
  -webkit-transform: translateY(140px);
  -moz-transform: translateY(140px);
  -ms-transform: translateY(140px);
  -o-transform: translateY(140px);
  transition: all .6s ease 0s;
  -webkit-transition: all .6s ease 0s;
  -moz-transition: all .6s easem 0s;
  -ms-transition: all .6s ease 0s;
  -o-transition: all .6s ease 0s; }

.works_single_container.visible {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px); }

.works_single_container:nth-child(1) {
  margin-top: 0px; }

.works_left_container {
  position: absolute;
  width: 72%;
  height: 488px;
  overflow: hidden;
  opacity: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -o-transform: translateY(40px);
  transition: all .5s ease 1s;
  -webkit-transition: all .5s ease 1s;
  -moz-transition: all .5s ease 1s;
  -o-transition: all .5s ease 1s;
  -o-transition: all .5s ease 1s; }

.works_single_container.visible .works_left_container {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px); }

.works_right_container {
  position: absolute;
  left: 32%;
  bottom: -18%;
  width: 52%;
  background: #ffffff;
  margin-left: -1px;
  padding: 16px 24px;
  opacity: 0;
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  transition: all .4s ease 1.2s;
  -webkit-transition: all .4s ease 1.2s;
  -moz-transition: all .4s ease 1.2s;
  -ms-transition: all .4s ease 1.2s;
  -o-transition: all .4s ease 1.2s; }

.works_single_container.visible .works_right_container {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px); }

.works_text_container {
  display: none; }

.right_text_container {
  padding-left: 0%; }

.works_detail_container {
  padding-top: 24px; }

.works_text_title {
  font-family: 'GraphikRegular';
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  display: inline-block; }

.works_text_desc {
  font-family: 'GraphikMedium';
  font-size: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  line-height: 44px; }

.works_text_desc a {
  line-height: 48px;
  color: #1a50ad;
  padding-bottom: 4px; }

.works_heading_desc .anim_container {
  margin-top: -8px; }

.works_actions_container {
  padding-top: 32px; }

.case_study_button {
  display: inline-block;
  color: #00B019;
  font-family: 'GraphikMedium';
  font-size: 15.36px;
  padding-bottom: 6px;
  border-bottom: 2px solid #00B019;
  text-transform: uppercase;
  transition: all .16s ease 0s;
  -webkit-transition: all .16s ease 0s;
  -moz-transition: all .16s ease 0s;
  -ms-transition: all .16s ease 0s;
  -o-transition: all .16s ease 0s; }

.case_study_button.without_border {
  border-bottom: none; }

.works_timeline_container {
  font-family: 'GraphikRegular';
  font-size: 15.36px;
  padding-left: 16px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5); }

.works_single_container:nth-child(2n) .works_left_container {
  right: 12%; }

.works_single_container:nth-child(2n) .works_right_container {
  left: 4%; }

.footer_segment {
  display: inline-block;
  font-family: 'GraphikRegular';
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87); }

.footer_segment a {
  margin-left: 24px;
  text-decoration: none; }

.footer_segment a.behance {
  border-bottom: 2px solid #1769FF;
  color: #1769FF; }

.footer_segment a.linkedin {
  border-bottom: 2px solid #4078C0;
  color: #4078C0; }

.footer_segment a.medium {
  border-bottom: 2px solid #00AC6C;
  color: #00AC6C; }

.footer_segment a.github {
  border-bottom: 2px solid #4078c0;
  color: #4078c0; }

.footer_segment a:nth-child(1) {
  margin-left: 16px; }

.works_tags {
  padding-top: 16px;
  font-family: 'GraphikRegular';
  font-size: 19.2px;
  color: rgba(0, 0, 0, 0.5); }

.about_body ul li {
  margin-top: 16px; }

.about_body ul li:nth-child(1) {
  margin-top: 0px; }

.list_title {
  display: inline-block; }

.list_desc {
  font-family: 'GraphikRegular';
  font-size: 24px;
  color: rgba(255, 255, 255, 0.9);
  line-height: 24px;
  padding-top: 8px; }

.list_caption {
  font-family: 'GraphikRegular';
  font-size: 19.2px;
  color: rgba(255, 255, 255, 0.9);
  line-height: 24px;
  display: inline-block;
  padding-left: 8px; }

.about_body ul {
  margin-top: 8px; }

.about_body ul li {
  margin-top: 40px; }

.about_body ul li:nth-child(1) {
  margin-top: 0px; }

.about_body ul li div.list_container {
  display: inline; }

#about_container.dark_mode .footer {
  border-top: 1px solid #333;
  margin-top: 72px; }

#about_container.dark_mode .footer_title {
  color: white; }

#about_container.dark_mode .footer_desc {
  color: rgba(255, 255, 255, 0.9); }

#about_container.dark_mode .footer_segment {
  color: rgba(255, 255, 255, 0.9); }

#about_container.dark_mode .footer_title_2 {
  color: rgba(255, 255, 255, 0.9); }

.text_desc_container .text_desc_details {
  margin-top: 8px; }

.text_desc_container .text_desc_details .anim_container .anim_item {
  font-family: 'GraphikRegular';
  font-size: 24px;
  color: #004FE5;
  display: inline-block;
  margin-left: 56px; }

.text_desc_container .text_desc_details .anim_container .anim_item:nth-child(1) {
  margin-left: 0px; }

.vertical_list_container {
  margin-top: 24px;
  width: 90%;
  padding-bottom: 32px; }

.vertical_list_single {
  float: left;
  min-height: 48px;
  margin-left: 48px;
  width: 44%; }

.vertical_list_title {
  font-family: "GraphikMedium";
  font-size: 24px;
  width: 100%;
  border-bottom: 2px solid #eee;
  padding-bottom: 16px; }

.vertical_list_body ul {
  padding-top: 16px; }

.vertical_list_body ul li {
  font-family: 'GraphikRegular';
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 8px;
  list-style-type: none;
  height: 40px; }

.vertical_list_single:nth-child(1) {
  margin-left: 0px; }

.vertical_list_single:nth-child(3) {
  margin-left: 0px; }

.vertical_list_single:nth-child(3), .vertical_list_single:nth-child(4) {
  margin-top: 24px; }

#intro_svg g rect.visible_intro {
  opacity: 1;
  display: block;
  transition: opacity 0.02s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -webkit-transition: opacity 0.02s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -moz-transition: opacity 0.02s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -ms-transition: opacity 0.02s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -o-transition: opacity 0.02s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }

#intro_svg g rect.visible_intro.animate_intro {
  transform: translateX(80%);
  -webkit-transform: translateX(80%);
  -moz-transform: translateX(80%);
  -ms-transform: translateX(80%);
  -o-transform: translateX(80%);
  transition: transform 3.2s ease 0s, opacity .3s ease 0s;
  -webkit-transition: transform 3.2s ease 0s, opacity .3s ease 0s;
  -moz-transition: transform 3.2s ease 0s, opacity .3s ease 0s;
  -ms-transition: transform 3.2s ease 0s, opacity .3s ease 0s;
  -o-transition: transform 3.2s ease 0s, opacity .3s ease 0s; }

#intro_svg g rect.visible_intro.animate_intro#Rectangle-Copy-10, #intro_svg g rect.visible_intro.animate_intro.Rectangle-Copy-2, #intro_svg g rect.visible_intro.animate_intro.Rectangle-Copy-10 {
  transform: translateX(60%);
  -webkit-transform: translateX(60%);
  -moz-transform: translateX(60%);
  -ms-transform: translateX(60%);
  -o-transform: translateX(60%); }

#intro_svg g rect.visible_intro.animate_intro#Rectangle-Copy-9, #intro_svg g rect.visible_intro.animate_intro.Rectangle-Copy-3 {
  transform: translateX(30%);
  -webkit-transform: translateX(30%);
  -moz-transform: translateX(30%);
  -ms-transform: translateX(30%);
  -o-transform: translateX(30%); }

#intro_svg g rect.visible_intro.hide {
  opacity: 0; }

#intro_svg.hide {
  display: none; }

.past_experiences_container {
  margin-top: 0px;
  margin-top: -12px; }

.past_experiences_container a {
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: none;
  margin-right: 4px;
  transition: all .1s ease 0s;
  -webkit-transition: all .1s ease 0s;
  -moz-transition: all .1s ease 0s;
  -ms-transition: all .1s ease 0s;
  -o-transition: all .1s ease 0s; }

.past_experiences_container a.pvr_cinemas_link {
  color: #000000;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1); }

.past_experiences_container a.pvr_cinemas_link:hover {
  border-bottom: 2px solid #000000; }

.past_experiences_container a.studycopter_link {
  color: #22bb44; }

.past_experiences_container a.studycopter_link:hover {
  border-bottom: 2px solid #22bb44; }

.past_experiences_container a.amituslab_link {
  color: #6622cc; }

.past_experiences_container a.amituslab_link:hover {
  border-bottom: 2px solid #6622cc; }

.past_text {
  font-family: 'GraphikRegular';
  font-size: 24px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.87); }

.past_body {
  display: inline-block;
  vertical-align: 0px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px; }

.past_body img {
  margin-left: 24px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-top: 16px; }

#pvr_cinemas {
  color: #000000; }

#studycopter {
  color: #22bb44; }

#amituslab {
  color: #6622cc; }

#stanza_living a {
  color: #44f155; }

.works_cover_outer_container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 488px;
  width: 100%;
  overflow: hidden; }

.works_tag_container {
  font-family: 'GraphikRegular';
  font-size: 15.36px;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  padding: 16px 0px; }

.works_single_container a {
  text-decoration: none; }

.works_single_container .works_right_container .works_text_desc a {
  border-bottom: 2px solid #1a50ad; }

.works_text_desc a:visited {
  color: #1a50ad; }

.view_works_container {
  font-family: 'GraphikRegular';
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  width: 76%;
  padding: 56px 0px 32px 0px;
  border-top: 2px solid #eee;
  margin-top: 56px;
  margin-left: 12%; }

svg.no_width g#Experiments g#LeftSvg g#Homepage rect.whizzed {
  transition: all 1.2s ease 0s, opacity 1.6s ease 0s;
  -webkit-transition: all 1.2s ease 0s, opacity 1.6s ease 0s;
  -moz-transition: all 1.2s ease 0s, opacity 1.6s ease 0s;
  -o-transition: all 1.2s ease 0s, opacity 1.6s ease 0s;
  -ms-transition: all 1.2s ease 0s, opacity 1.6s ease 0s; }

.menu_icon_container {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 4%;
  display: none; }

.hamburger_icon {
  display: inline-block;
  height: 56px;
  width: 56px;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer; }

.hamburger_icon img {
  margin-top: 18px; }

.menu_container {
  position: absolute;
  top: 0px;
  left: 100%;
  height: 100%;
  width: 100%;
  display: none;
  opacity: 0;
  z-index: 400;
  padding-bottom: 24px;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -o-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }

.menu_container.visible {
  opacity: 1;
  left: 0%; }

.menu_inner_container {
  position: relative;
  height: 100%;
  width: 100%;
  background: #000;
  color: #fff; }

.menu_inner_container ul li {
  list-style-type: none;
  padding-top: 48px;
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translateX(40px);
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -o-transform: translateX(40px);
  transition: all .3s ease .2s;
  -webkit-transition: all .3s ease .2s;
  -moz-transition: all .3s ease .2s;
  -ms-transition: all .3s ease .2s;
  -o-transition: all .3s ease .2s; }

.menu_inner_container ul li a {
  font-family: 'GraphikRegular';
  font-size: 27px;
  color: #fff;
  text-decoration: none;
  cursor: pointer; }

.menu_inner_container ul li.not_live a {
  color: rgba(0, 0, 0, 0.5); }

.menu_inner_container ul li.process_list_item a {
  color: rgba(255, 255, 255, 0.7); }

.menu_container.visible .menu_inner_container ul li {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px); }

.menu_inner_container ul li:nth-child(2) {
  transition-delay: .29s;
  -webkit-transition-delay: .29s;
  -moz-transition-delay: .29s;
  -ms-transition-delay: .29s;
  -o-transition-delay: .29s; }

.menu_inner_container ul li:nth-child(3) {
  transition-delay: .38s;
  -webkit-transition-delay: .38s;
  -moz-transition-delay: .38s;
  -ms-transition-delay: .38s;
  -o-transition-delay: .38s; }

.menu_inner_container ul li:nth-child(4) {
  transition-delay: .47s;
  -webkit-transition-delay: .47s;
  -moz-transition-delay: .47s;
  -ms-transition-delay: .47s;
  -o-transition-delay: .47s; }

.menu_close_container {
  padding-top: 4%;
  width: 100%;
  text-align: center; }

.menu_close_icon_container {
  display: inline-block;
  height: 56px;
  width: 56px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer; }

.menu_close_icon_container img {
  height: 24px;
  width: 24px;
  margin-top: 16px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  html, body {
    overflow-x: hidden; }

  .text_title_container .anim_container .anim_item {
    font-size: 27px; }

  .intro_title {
    margin-top: 40%;
    font-size: 35px; }

  .intro_tagline {
    font-size: 27px; }

  .top_pattern_container {
    display: none; }

  .top_nav_container {
    display: none; }

  .top_text_container {
    margin-top: 16%;
    padding-left: 8%; }

  .menu_icon_container {
    display: block; }

  .menu_container {
    display: block; }

  .text_title_container:nth-child(2) {
    margin-top: 0px; }

  .text_title_container .anim_container {
    height: 96px; }

  .text_title_container:nth-child(2) .anim_container {
    height: 144px;
    margin-top: 8px; }

  .text_title_container .anim_container .anim_item {
    line-height: 48px; }

  .text_title_container .anim_container .anim_item:nth-child(2), .text_title_container:nth-child(2) .anim_container .anim_item:nth-child(3) {
    margin-top: 4px; }

  .text_desc_container {
    padding-top: 2%;
    line-height: 44px; }

  .text_desc_container .anim_container {
    height: 160px; }

  .text_desc_container .anim_container .anim_item {
    font-size: 19.2px;
    line-height: 40px; }

  .text_desc_container .anim_container .anim_item .anim_item, .text_desc_container .anim_container .anim_item {
    display: inline; }

  .text_desc_container .anim_container {
    display: inline; }

  .past_text {
    margin-top: 16px;
    font-size: 24px; }

  .past_experiences_container .past_body {
    display: inline; }

  .past_experiences_container .past_body a {
    font-size: 19.2px; }

  .past_experiences_container .anim_container .anim_item:nth-child(2) {
    display: block; }

  .works_title_text .anim_container .anim_item {
    font-size: 27px; }

  .works_heading_desc .anim_container .anim_item {
    font-size: 24px; }

  .works_single_container.visible .works_left_container {
    width: 100%; }

  .works_right_container {
    left: 0%;
    top: 54%;
    bottom: auto;
    width: 90%; }

  .works_timeline_container {
    padding-left: 0px;
    margin-top: 16px; }

  .works_single_container {
    margin-top: 280px; }

  .works_single_container:nth-child(2) .works_right_container {
    left: 0%; }

  .footer {
    margin-top: 144px; }

  .footer_segment a {
    margin-top: 24px;
    display: table;
    margin-left: 0px;
    font-size: 16px; }

  .footer_segment a:nth-child(1) {
    margin-left: 0px; }

  .footer_title {
    font-size: 27px;
    line-height: 48px;
    width: 88%; }

  .footer_pattern_right {
    right: -7%; }

  .footer_title_2 {
    font-size: 24px;
    line-height: 36px; }

  .footer_desc {
    margin-top: 16px; }

  .footer_desc a {
    margin-top: 8px; }

  .footer_icons_container {
    margin-top: 32px; } }
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .intro_title {
    margin-top: 40%;
    font-size: 35px; }

  .intro_tagline {
    font-size: 27px; }

  .top_pattern_container {
    display: none; }

  .top_nav_container {
    display: none; }

  .top_text_container {
    margin-top: 16%;
    padding-left: 8%; }

  .menu_icon_container {
    display: block; }

  .menu_container {
    display: block; }

  .text_title_container:nth-child(2) {
    margin-top: 0px; }

  .text_title_container .anim_container {
    height: 96px; }

  .text_title_container:nth-child(2) .anim_container {
    height: 144px;
    margin-top: 8px; }

  .text_title_container .anim_container .anim_item {
    line-height: 48px; }

  .text_title_container .anim_container .anim_item:nth-child(2), .text_title_container:nth-child(2) .anim_container .anim_item:nth-child(3) {
    margin-top: 4px; }

  .text_desc_container {
    padding-top: 2%;
    line-height: 44px; }

  .text_desc_container .anim_container {
    height: 160px; }

  .text_desc_container .anim_container .anim_item {
    font-size: 19.2px;
    line-height: 40px; }

  .text_desc_container .anim_container .anim_item .anim_item, .text_desc_container .anim_container .anim_item {
    display: inline; }

  .text_desc_container .anim_container {
    display: inline; }

  .past_text {
    margin-top: 16px;
    font-size: 24px; }

  .past_experiences_container .past_body {
    display: inline; }

  .past_experiences_container .past_body a {
    font-size: 19.2px; }

  .past_experiences_container .anim_container .anim_item:nth-child(2) {
    display: block; }

  .works_title_text .anim_container .anim_item {
    font-size: 27px; }

  .works_heading_desc .anim_container .anim_item {
    font-size: 24px; }

  .works_single_container.visible .works_left_container {
    width: 100%; }

  .works_right_container {
    left: 0%;
    top: 54%;
    bottom: auto;
    width: 90%; }

  .works_timeline_container {
    padding-left: 0px;
    margin-top: 16px; }

  .works_single_container {
    margin-top: 280px; }

  .works_single_container:nth-child(2) .works_right_container {
    left: 0%; }

  .footer_segment a {
    margin-top: 24px;
    display: table;
    margin-left: 0px; }

  .footer_segment a:nth-child(1) {
    margin-left: 0px; }

  .footer_title {
    font-size: 27px;
    line-height: 48px;
    width: 88%; }

  .footer_pattern_right {
    right: -7%; }

  .footer_title_2 {
    font-size: 24px;
    line-height: 36px; }

  .footer_desc {
    margin-top: 16px; }

  .footer_desc a {
    margin-top: 8px; }

  .footer_icons_container {
    margin-top: 32px; } }
@media only screen and (max-width: 320px) {
  .intro_title {
    margin-top: 40%;
    font-size: 35px; }

  .intro_tagline {
    font-size: 27px; }

  .top_pattern_container {
    display: none; }

  .top_nav_container {
    display: none; }

  .top_text_container {
    margin-top: 16%;
    padding-left: 8%; }

  .menu_icon_container {
    display: block; }

  .menu_container {
    display: block; }

  .text_title_container:nth-child(2) {
    margin-top: 0px; }

  .text_title_container .anim_container {
    height: 96px; }

  .text_title_container:nth-child(2) .anim_container {
    height: 144px;
    margin-top: 8px; }

  .text_title_container .anim_container .anim_item {
    line-height: 48px; }

  .text_title_container .anim_container .anim_item:nth-child(2), .text_title_container:nth-child(2) .anim_container .anim_item:nth-child(3) {
    margin-top: 4px; }

  .text_desc_container {
    padding-top: 2%;
    line-height: 44px; }

  .text_desc_container .anim_container {
    height: 160px; }

  .text_desc_container .anim_container .anim_item {
    font-size: 19.2px;
    line-height: 40px; }

  .text_desc_container .anim_container .anim_item .anim_item, .text_desc_container .anim_container .anim_item {
    display: inline; }

  .text_desc_container .anim_container {
    display: inline; }

  .past_text {
    margin-top: 16px;
    font-size: 24px; }

  .past_experiences_container .past_body {
    display: inline; }

  .past_experiences_container .past_body a {
    font-size: 19.2px; }

  .past_experiences_container .anim_container .anim_item:nth-child(2) {
    display: block; }

  .works_single_container.visible .works_left_container {
    width: 100%; }

  .works_right_container {
    left: 0%;
    top: 54%;
    bottom: auto;
    width: 90%; }

  .works_timeline_container {
    padding-left: 0px;
    margin-top: 16px; }

  .works_single_container {
    margin-top: 280px; }

  .works_single_container:nth-child(2) .works_right_container {
    left: 0%; }

  .footer_segment a {
    margin-top: 24px;
    display: table;
    margin-left: 0px; }

  .footer_segment a:nth-child(1) {
    margin-left: 0px; }

  .footer_title {
    font-size: 27px;
    line-height: 48px;
    width: 88%; }

  .footer_pattern_right {
    right: -7%; }

  .footer_title_2 {
    font-size: 24px;
    line-height: 36px; }

  .footer_desc {
    margin-top: 16px; }

  .footer_desc a {
    margin-top: 8px; }

  .footer_icons_container {
    margin-top: 32px; } }

/*# sourceMappingURL=style2.css.map */
